.divNombreApe{
    margin: auto;
  width: 50%;
    padding: 10px;
}
.textcenter{
    margin:auto;
    text-align:center;
}
.divCentrado{
  margin: auto;
  width: 100%;
  text-align:center;

}

.backnav{
  background-color: #B4D5CA
}

.bktras{

  background-color:#B4D5CA;
  opacity: 0.8;
  
}
.bkbasi {border-style: double;}
.bkbasi{
  background-color:#D5E7E1;
}