{% extends "layout.html" %}

{% block content %}

<div class="center-block row justify-content-center mt-5">
    <div class="card bg-dark" style="width: 18rem;">
        <div class="card-body ">
          <h5 class="card-title text-light">Creador</h5>
          <p class="card-text text-light">Pagina creada por Jeremias Posse responsable de Area de Sistemas </p>
          <a href= "http://Linkedin.com/in/jeremias-posse" class="btn btn-primary">Linkedin</a>
        </div>
      </div>
</div>

{% endblock %}