{% extends "layout.html" %}
{% block content %}
<div class="mt-4">  
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Asistencia</th>
      </tr>
    </thead>
    <tbody>
      {%for d in datos %}
      <tr>
        <td>{{d.1}}</td>
        <td>{{d.2}}</td>
        <td>
          <!--Check dentro de la tabla-->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{d.2}}">
            <label class="custom-control-label" for="{{d.2}}">Presente</label>
          </div>
        </td>
        {%endfor%}
      </tr>
    </tbody>
  </table>
  <a type="submit" class="btn btn-primary" href="/asistencia">Cargar Asistencia</a>
</div>

{% endblock %}