{% extends "layout.html" %}
{% block content %}

<form>
    <!--Scrip para pedir ubicacion-->
    <script>
        window.addEventListener("load", inicio)
        function inicio() {
            navigator.geolocation.getCurrentPosition(alExito, alError);

        }
        function alExito(info) {
            var lat = info.coords.latitude;
            var longitude = info.coords.longitude;
            alert(lat)
            alert(longitude)

        }
        function alError() {
            alert('Error no se acepto la ubicacion')
        }
    </script>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">latitude</th>
                <th scope="col">longitude</th>
            </tr>
        </thead>
        <tbody>
            <script>
            </script>
            <tr>
                <th scope="row">1</th>
                <td id=index-lat></var></td>
                <td id="index-long"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}